<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="|${pageTitle}|"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"/>

    <style type="text/css">
        @media screen {
            @font-face {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                src: local('Open Sans'), local('OpenSans'), url('http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
            }

            @font-face {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                src: local('Open Sans'), local('OpenSans'), url('http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
            }
        }
    </style>
</head>
<body style="font-family: 'Open Sans', 'OpenSans', Tahoma, Sans-Serif;">
<div>
    <div
            style="background: linear-gradient(45deg, #669d7e, #2a693b); color:white; padding:15px; background-color: #224b26;">
        <div style="padding-bottom: 15px; font-size:30px;">
            <a target="_blank"
               style="text-decoration: none; color: white!important;" th:text="|${applicationName}|"></a>
        </div>
        <div style="margin: 5px 0;
    height: 2px;
    width: 100%;
    background: #224b26;"></div>
    </div>
</div>
<div style="padding-left: 10px">
</div>
<div style="margin-top:10px;">
    <div style="margin: 0px; background-color: #c0a589; color: #000000; padding: 5px;">
        <p style="margin: 20px" th:text="|${message}|"></p>
        <div style="display: flex">
            <p style="margin-left: 30px">Board items can be found at:</p>
            <a style="margin-left: 10px; margin-top: 16px" th:href="${boardLink}" th:text="${boardLink}"></a>
        </div>
    </div>
</div>
</body>
</html>
